#!/usr/bin/env python3
# -*- coding:utf-8 -*-

app = "gateway"

port = 18011
main_addr = '127.0.0.1:18002'
aes_key = '4fcc09d3ceb79129'
conn_mode = 'ws' #websocket
win_exe = 'gateway.exe'
linux_exe = 'gateway'
isSSL = 0
certFile = "1_game.chinakinggame.com_bundle.crt"
keyFile = "2_game.chinakinggame.com.key"